<div class="m-3 p-2 border-2">
    <div class="grid grid-cols-8 gap-4 h-28">
        <div class="col-start-1 col-span-1">
            <img class="object-cover h-28 w-28 shadow" src="https://vnn-imgs-f.vgcloud.vn/2020/10/21/10/huracan-la-mo-t-trong-nhu-ng-ma-u-xe-de-p-nha-t-cu-a-lamborghini-a-nh-autocar.jpg">
        </div>
        <div class="col-start-2 col-span-7 flex flex-col justify-around">
            <div>
                <div class="flex justify-between">
                    <div class="text-lg uppercase">lamborghini</div>
                    <i class="fa fa-heart fa-2x text-red-500" aria-hidden="true"></i>
                </div>
                <div>2022 - Xe hơi - Hàng mới</div>
                <div class="text-red-700 text-lg mt-2">20.000.000.000 VND</div>
            </div>
            <div class="flex justify-between items-center">
                <div class="flex justify-start">
                    <div class="mr-5">Đỗ Tiến Trung</div>
                    <div class="mr-5">3 Phút trước</div>
                    <div class="mr-5">Quận 1, TP.HCM</div>
                </div>
                <div class="flex">
                    <div class="bg-cyan-700 p-2 px-4 text-white rounded-lg font-semibold">
                        <div>Show Number Phone</div>
                    </div>
                    <div class="bg-cyan-700 p-2 px-4 text-white rounded-lg font-semibold ml-5">
                        <div>Post Now!</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>