<div class="m-auto flex flex-col w-96 shadow-2xl border-2 rounded-md bg-gray-50">
    <div class="px-5 py-14">
        <form class="mb-3 text-sm" method="post" action="/changepassword">
            <p class="mb-4 text-2xl text-yellow-500">Đổi mật khẩu</p>
            {{#if error}}
                <p class="text-red-600 text-md mb-3">{{error}}</p>
            {{/if}}
            <input class="hidden" name="number" value="{{this.number}}">
            <div class="border-t border-b border-l border-r p-2 w-full rounded-lg flex flex-row mb-4 bg-white">
                <input name="oldPassword" class="focus:outline-none w-full" type="password" autocomplete="nope"
                    placeholder="Nhập mật khẩu cũ" required="required">
            </div>
            <div class="border-t border-b border-l border-r p-2 w-full rounded-lg flex flex-row mb-4 bg-white">
                <input name="newPassword" class="focus:outline-none w-full" type="password" autocomplete="nope"
                    placeholder="Nhập mật khẩu mới" required="required" id="new-password" onchange="getValue(this.value)">
            </div>
            <div class="border-t border-b border-l border-r p-2 w-full rounded-lg flex flex-row mb-4 bg-white">
                <input name="rePassword" class="focus:outline-none w-full" type="password" autocomplete="nope"
                    placeholder="Nhập lại mật khẩu mới" required="required" id="re-password" onkeyup="matchPassword(this.value)">
            </div>
                <p class="text-red-600 text-md mb-3" id="errorMess"></p>
            <button class="bg-yellow-500 text-white rounded-lg text-md py-2 w-full" type="submit">Đổi mật khẩu</button>
        </form>
    </div>
</div>
<script>
    const error = document.getElementById("errorMess");
    let pw1;
    const pw2 = document.getElementById("re-password");
    function getValue(value){
        pw1 = value;
    }
    function matchPassword(){
        if(pw1 != pw2.value) error.innerHTML="Mật khẩu không khớp";
        else error.innerHTML=""; 
    }
</script>