<body class="font-body antialiased text-[#64748b] bg-[#FFFFFF] dark:text-[#94a3b8] dark:bg-[#0f172a]">
    <div class=" md:py-16">
        <div class="max-w-7xl mx-auto flex items-center gap-6 px-5 flex-col py-14 md:flex-row lg:py-2 xl:py-0">
            <div class="flex flex-col gap-7 lg:w-8/12 xl:w-3/5">
                <h1 class="font-bold tracking-tight dark:text-slate-100 text-4xl text-slate-900 lg:text-5xl">NiceShops
                </h1>
                <p class="text-base lg:text-lg 2xl:text-gray-500">NiceShops là trang web tạo ra cho bạn một kênh rao vặt
                    trung gian, kết nối người mua với người bán lại với nhau bằng những giao dịch cực kỳ đơn giản, tiện
                    lợi, nhanh chóng, an toàn, mang đến hiệu quả bất ngờ.</p>
                <a href="/category"
                    class="py-2 w-48 text-center text-white px-5 rounded-global bg-primary-500 text-lg xl:bg-yellow-500">Mua
                    ngay</a>
            </div>
            <div class="w-full lg:w-7/12"><img alt="No alt"
                    src="https://unblast.com/wp-content/uploads/2020/01/Internet-Shopping-Illustration.jpg" /></div>
        </div>
    </div>
    <!-- AlpineJS Library -->
    <script defer src="https://unpkg.com/alpinejs@3.9.0/dist/cdn.min.js"></script>
</body>