<div class="m-auto flex flex-col w-96 shadow-2xl border-2 rounded-md bg-gray-50">
    <div class="px-5 py-14">
        <form class="mb-3 text-sm">
            <p class="mb-4 text-2xl text-yellow-500">Đăng nhập</p>
            <input class="focus:outline-none border-t border-b border-l border-r p-2 w-full rounded-lg mb-4" type="tel"
                placeholder="Nhập SĐT của bạn" autocomplete="off">
            <div class="border-t border-b border-l border-r p-2 w-full rounded-lg flex flex-row mb-4 bg-white">
                <input class="focus:outline-none w-full" type="password" autocomplete="nope" placeholder="Nhập mật khẩu">
                <button type="button">Hiện</button>
            </div>
            <button class="bg-yellow-500 text-white rounded-lg text-md py-2 w-full" type="button">Đăng nhập</button>
        </form>
        <div class="flex flex-col text-center">
            <div class="text-center cursor-pointer">Quên mật khẩu</div>
            <div class="mt-10">hoặc sử dụng</div>
            <div class="mx-auto mb-3">
                <div class="w-max cursor-pointer rounded-full shadow-lg">
                    <img src="https://static.chotot.com/storage/assets/LOGIN/google.svg">
                </div>
            </div>
            <div>
                <div>Chưa có tài khoản? <a class="text-blue-900" href="/register">Đăng ký ngay</a></div>
            </div>
        </div>
    </div>
</div>