<div class="m-auto flex flex-col w-96 shadow-2xl border-2 rounded-md bg-gray-50">
    <div class="px-5 py-14">
        {{#if error}}
          <p class="text-red-600 text-xl mb-3">{{error}}</p>
        {{/if}}
        <form class="mb-3 text-sm" method="post" action="/login">
            <input type="hidden" name="referer" value={{this.referer}}>
            <p class="mb-4 text-2xl text-yellow-500">Đăng nhập</p>
            <input name="phone" class="focus:outline-none border-t border-b border-l border-r p-2 w-full rounded-lg mb-4" type="tel"
                placeholder="Nhập SĐT của bạn" autocomplete="off" pattern="^\d{10}$" required="required">
            <div class="border-t border-b border-l border-r p-2 w-full rounded-lg flex flex-row mb-4 bg-white">
                <input name="password" class="focus:outline-none w-full" type="password" autocomplete="nope" placeholder="Nhập mật khẩu" required="required">
                <button type="button">Hiện</button>
            </div>
            <button class="bg-yellow-500 text-white rounded-lg text-md py-2 w-full" type="submit">Đăng nhập</button>
        </form>
        <div class="flex flex-col text-center">
            <div class="">hoặc sử dụng</div>
            <div class="mx-auto mb-3">
                <div class="">
                    <a type="button" href="/auth/google"
                       class="py-2 px-4 flex justify-center items-center  bg-red-600 hover:bg-red-700 focus:ring-red-500 focus:ring-offset-red-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2  ">

                        <i class="fa fa-google mr-2" aria-hidden="true"></i>
                        </svg>
                        Google
                    </a>
                </div>
            </div>
            <div>
                <div>Chưa có tài khoản? <a class="text-blue-900" href="/register">Đăng ký ngay</a></div>
            </div>
        </div>
    </div>
</div>