<div class=" container mx-auto xl:px-10 py-1 text-xs font-medium flex mt-2 justify-start text-cyan-800">
    <a class="  uppercase" href="/"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
    <div class=" ml-3">></div>
    <a class=" uppercase ml-3">Tin đã lưu</a>
</div>

<div class=" container mx-auto xl:px-10 py-1 text-xs font-medium mt-2 text-cyan-800">
    <div class=" uppercase text-lg font-bold text-black mb-10">Tin đã lưu: 1</div>
    <div class="p-3 bg-white shadow-lg rounded-sm border border-gray-200 mt-4">
        <div class="">
            {{> product-item}}
            {{> product-item}}
            {{> product-item}}
            {{> product-item}}
        </div>
    </div>
</div>

