<div class="m-auto flex flex-col w-96 shadow-2xl border-2 rounded-md bg-gray-50">
    <div class="px-5 py-14">
        {{#if error}}
          <p class="text-red-600 text-xl mb-3">{{error}}</p>
        {{/if}}
        <form class="mb-3 text-sm" method="post" action="/update-phone">
            <p class="mb-4 text-2xl text-yellow-500">Xác nhận số điện thoại</p>
            <input name="phone" class="focus:outline-none border-t border-b border-l border-r p-2 w-full rounded-lg mb-4" type="tel"
                placeholder="Nhập SĐT của bạn" autocomplete="off" pattern="^\d{10}$" required="required">
            <button class="bg-yellow-500 text-white rounded-lg text-md py-2 w-full" type="submit">Xác nhận</button>
        </form>
    </div>
</div>