<style>
    figure {
        width: 45%;
        position: relative;
    }

    #imageReview {
        width: 300px;
        height: 300px;
        object-fit: fill;
    }

    .unChosenImg {
        cursor: pointer;
        position: absolute;
        right: -10px;
        top: -10px;
    }
</style>

<div class=" py-6 sm:py-8 lg:py-12">
    <div class="px-4 mx-auto max-w-7xl md:px-8">
        <div class="mb-10 md:mb-16">
            <h2 class="text-gray-800 text-2xl font-bold text-center mb-4 md:mb-6 lg:text-3xl xl:text-yellow-500">Đăng bài tin</h2>
        </div>
        <form action="/upload" method="post" enctype="multipart/form-data"
            class="max-w-screen-md grid sm:grid-cols-2 gap-4 mx-auto">
            <div class="sm:col-span-2"><label class="inline-block text-gray-800 text-sm sm:text-base mb-2">Tiêu đề*</label>
                <input type="text" name="title" id="title" required
                    class="w-full bg-gray-50 text-gray-800 border focus:ring ring-indigo-300 rounded outline-none transition duration-100 px-3 py-2" />
            </div>
            <div class="sm:col-span-2"><label class="inline-block text-gray-800 text-sm sm:text-base mb-2">Giá* (vnđ)</label>
                <input
                    class="w-full bg-gray-50 text-gray-800 border focus:ring ring-indigo-300 rounded outline-none transition duration-100 px-3 py-2"
                    name="price" id="price" onkeyup="test()" required />
            </div>
            <div class="sm:col-span-2"><label class="inline-block text-gray-800 text-sm sm:text-base mb-2">Danh mục*</label>
                <select name="category"
                    class="xl:w-full xl:bg-gray-50 xl:px-3 xl:py-2 xl:border xl:rounded xl:outline-none xl:transition xl: xl:duration-100">
                    <option value="1" selected>Xe cộ</option>
                    <option value="2">Đồ điện tử</option>
                    <option value="3">Việc làm</option>
                    <option value="4">Thú cưng</option>
                    <option value="5">Đồ ăn - thực phẩm</option>
                    <option value="6">Tủ lạnh</option>
                    <option value="7">Đồ gia dụng</option>
                    <option value="8">Mẹ và bé</option>
                    <option value="9">Thời trang - đồ dùng cá nhân</option>
                    <option value="10">Giải trí</option>
                    <option value="11">Đồ văn phòng</option>
                </select>
            </div>
            <div class="sm:col-span-2"><label class="inline-block text-gray-800 text-sm sm:text-base mb-2">Tình trạng*</label>
                <select name="statusProduct"
                    class="xl:w-full xl:bg-gray-50 xl:px-3 xl:py-2 xl:border xl:rounded xl:outline-none xl:transition xl: xl:duration-100">
                    <option value="0" selected>Mới</option>
                    <option value="1">Đã sử dụng</option>
                </select>
            </div>
            <div class="sm:col-span-2"><label class="inline-block text-gray-800 text-sm sm:text-base mb-2">Địa chỉ</label>
                <input type="text" name="address" id="address"
                    class="w-full bg-gray-50 text-gray-800 border focus:ring ring-indigo-300 rounded outline-none transition duration-100 px-3 py-2" />
            </div>
            <div class="sm:col-span-2"><label class="inline-block text-gray-800 text-sm sm:text-base mb-2">Mô tả chi tiết*</label>
                <textarea name="description" id="description" required
                    placeholder="Ghi thông tin chi tiết sản phẩm của bạn tại đây"
                    class="w-full h-64 bg-gray-50 text-gray-800 border focus:ring ring-indigo-300 rounded outline-none transition duration-100 px-3 py-2"></textarea>
            </div>
            <div class="sm:col-span-2"><label class="inline-block text-gray-800 text-sm sm:text-base mb-2">Chọn hình ảnh*</label>
                <div
                    class="w-full bg-gray-50 text-gray-800 border focus:ring ring-indigo-300 rounded outline-none transition duration-100 px-3 py-2">
                    <input class="hidden" id="imageList" type="file" name="image" accept="image/png, image/jpeg"
                        onchange="preview()" multiple>
                    <label for="imageList" class="cursor-pointer text-center py-14 block">
                        <i class="fa fa-camera" aria-hidden="true"></i> &nbsp; ĐĂNG TỪ 1 ĐẾN 3 HÌNH
                    </label>
                </div>
            <div class="relative m-auto flex gap-5 mt-5" id="previewImgs"></div>
            </div>
            <div class="sm:col-span-2 flex justify-between items-center">
                <button type="submit"
                    class="inline-block bg-yellow-500 hover:bg-yellow-600 active:bg-yellow-700 focus-visible:ring ring-yellow-300 text-white text-sm font-semibold text-center rounded-lg outline-none transition duration-100 px-8 py-3 md:text-base xl:bg-yellow-500 xl:">
                    Đăng bài</button><span class="text-gray-500 text-sm">*Không được để trống</span>
            </div>
        </form>
    </div>
</div>

<script>
    let fileInput = document.getElementById("imageList");
    let imageContainer = document.getElementById("previewImgs");
    function preview() {

        imageContainer.innerHTML = "";
        for (i of fileInput.files) {
            let reader = new FileReader();
            let figure = document.createElement("figure");

            reader.onload = () => {
                let img = document.createElement("img");
                img.setAttribute("src", reader.result);
                img.setAttribute("id", "imageReview");
                figure.appendChild(img);
            }
            imageContainer.appendChild(figure);
            reader.readAsDataURL(i);
        }
    }
    function addCommas(str) {
        return str.replace(/^0+/, '').replace(/\D/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }

    function test() {
        var val = document.getElementById('price').value;
        document.getElementById('price').value = addCommas(val);
    }
</script>