<div class="absolute bottom-0 w-full">
    <footer class="footer bg-gray-50 shadow relative pt-1
        pb-5 border-t border-key">
        <div class="container mx-auto xl:px-10">

            <div class="sm:flex sm:mt-8">
                <div class="mt-8 sm:mt-0 sm:w-full flex flex-col md:flex-row justify-between">
                    <div class="flex justify-center items-center">
                        <img class="block h-20 w-auto"
                             src="https://scontent.fsgn5-11.fna.fbcdn.net/v/t1.15752-9/277896992_394196602228520_1639012703268587414_n.png?_nc_cat=110&ccb=1-5&_nc_sid=ae9488&_nc_ohc=5IGXhMa9seIAX85r02T&tn=0KWbAdw4j4XHiq4p&_nc_ht=scontent.fsgn5-11.fna&oh=03_AVLo_zny8dpctIE0ANmvgh9CNK6a6HaZggUjlLryFb0Weg&oe=627331FA">
                    </div>
                    <div class="flex flex-col items-center text-cyan-900">
                            <span
                                    class=" text-md uppercase mb-2 font-bold text-center">LIÊN HỆ</span>
                        <ul class=" text-md">
                            <li class="mb-2">
                                <p class="font-bold text-key">HCMUS NICESHOPS Group</p>
                                <span class="font-bold">Email: </span>
                                <a href="https://mail.google.com/mail/u/0/#inbox"
                                   target="_blank"
                                   class="hover:text-key">assist@niceshops.vn</a>
                                <div></div>
                                <span class="font-bold">Số điện thoại: </span>
                                <a href="#" class="hover:text-key">(+84)xx xxx xxxx</a>
                            </li>
                        </ul>
                    </div>
                    <div class="flex flex-col items-center">
                            <span
                                    class="text-cyan-900 text-md uppercase mb-2 font-bold text-center">CHIA SẺ TRÊN</span>
                        <div class="flex justify-between mt-3 w-48 text-cyan-900">
                            <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
                            <i class="fa fa-github fa-2x" aria-hidden="true"></i>
                            <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>