<div class="bg-gray-50 animate-none shadow border-b border-cyan-700">
    <div class="container mx-auto xl:px-10 relative">
        <div class="relative flex items-center justify-around md:justify-between h-16">

            <div class="flex flex-1 items-center justify-center md:items-stretch md:justify-start">
                <a href="/"><img class="block h-12 w-auto md:ml-2" src="https://scontent.fsgn5-11.fna.fbcdn.net/v/t1.15752-9/277896992_394196602228520_1639012703268587414_n.png?_nc_cat=110&ccb=1-5&_nc_sid=ae9488&_nc_ohc=5IGXhMa9seIAX85r02T&tn=0KWbAdw4j4XHiq4p&_nc_ht=scontent.fsgn5-11.fna&oh=03_AVLo_zny8dpctIE0ANmvgh9CNK6a6HaZggUjlLryFb0Weg&oe=627331FA">
                </a>
                <div class="dropdown relative z-10 ml-4 hidden md:block ">
                    <a href="/category" class="hiden md:block">
                        <button class="txt font-medium text-key hover:text-cyan-800
                        py-2 px-3 rounded inline-flex items-center hover:bg-gray-300">
                            <span>Danh mục</span>
                        </button>
                    </a>
                </div>
            </div>
            <div class=" text-cyan-700 hidden md:flex md:flex-1 md:items-center md:justify-end">
                <form method="post" action="/search">
                    <div class="rounded-full mr-2 bg-white flex items-center pl-5 pr-2 border border-cyan-700">
                        <input type="search" name="searchContent" class="w-64 p-1 h-auto focus:outline-none " placeholder="Tìm kiếm">
                        <button type="submit" class="fa fa-search px-2 cursor-pointer" aria-hidden="true"></button>
                    </div>
                </form>
                {{#if user}}
                <div class="hidden md:block items-center relative dropdown mt-2 w-11">
                    <div class="mb-2">
                        <a href="/profile">
                            <img alt="Avatar" src="https://cdn2.iconfinder.com/data/icons/audio-16/96/user_avatar_profile_login_button_account_member-512.png" class="h-10 w-10 rounded-full">
                        </a>
                    </div>
                    <div class="dropdown-menu rounded-lg hidden absolute bg-white text-black w-32 text-right min-w-max -right-10 z-10">
                        <ul class="bg-white rounded-lg overflow-hidden text-left" style="box-shadow: 0 2px 8px rgb(0 0 0 / 25%);">
                            <li class="hover:bg-cyan-700">
                                <a class="block p-2 hover:text-white space-x-3 font-medium" href="/profile">
                                    <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                                    <span>Tài khoản</span>
                                </a>
                            </li>
                             <li class="hover:bg-cyan-700">
                                <a class="block p-2 hover:text-white space-x-3 font-medium" href="/manage/published">
                                    <i class="fa fa-suitcase"></i>
                                    <span>Quản lý bài đăng</span>
                                </a>
                            </li>
                            <li class="hover:bg-cyan-700">
                                <a class="block p-2 hover:text-white space-x-3 font-medium" href="/logout">
                                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                                    <span>Đăng xuất</span>
                                </a>
                            </li>  
                        </ul>
                    </div>
                </div>
                {{else}}
                <a href="/login" class="hiden md:block">
                    <button
                            class=" w-auto rounded-sm ml-4 p-2 px-3 hover:bg-gray-100 font-normal duration-500  border-solid border border-cyan-700 text-cyan-700">
                        Login
                    </button>
                </a>

                <a href="/register" class="hiden md:block">
                    <button
                            class=" w-auto rounded-sm ml-4 p-2 px-3 bg-cyan-700 hover:bg-cyan-900 text-white font-normal duration-500">
                        Register
                    </button>
                </a>
                {{/if}}


            </div>
        </div>

    </div>
</div>